<div>
  <div>
    <h1>
      List of all dishes
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new dish
    </h2>

    <form action="/insert_dish" method="post">
      <div>
        <label for="ai_query_name">
          Meal description
        </label>
        <input type="text" id="ai_query_name" name="ai_query_name"  placeholder="e.g. salmon with quinoa and broccoli">
        <input type="hidden" name="query_creator_id" value="<%= current_user.id %>">
      </div>

      <button>
        Create and analyze meal
      </button>
    </form>
  </div>
</div>

<hr>
<%= search_form_for @q do |f| %>
  <h2>Narrow results:</h2>
  <div>
    <%= f.label :name_cont, "Dish containing" %>
    <%= f.text_field :name_cont, :placeholder => "...dish name contains " %>
  </div>

  <div>
  <% FoodGroup.all.each do |fg| %>
    <label>
      <%= check_box_tag('q[food_groups_id_eq_any][]', fg.id, (true if @q.dish_food_groups_id_eq_any.try(:include?, fg.id))) %>
      <%= fg.name %>
    </label>
  <% end %>
</div>

  <%= f.submit :class => "btn btn-primary btn-block" %>
  
  <a href="/dishes">Clear filters</a>
<% end %>
<hr>

<div>
  <div>
    <table border="1">
      <tr>
        <th>Name</th>
        <% FoodGroup.all.each do |fg| %>
          <th><%= fg.name.capitalize %></th>
        <% end %>
        <th></th>

      </tr>

      
      <% @list_of_dishes.each do |a_dish| %>
      <tr>
        <td><%= a_dish.name %></td>

        <% FoodGroup.all.each do |fg| %>
          <% dfg = a_dish.dish_food_groups.find { |x| x.food_group_id == fg.id } %>
          <td><%= dfg.present? ? dfg.number_of_instances : 0 %></td>
        <% end %>

        <td>
          <a href="/dishes/<%= a_dish.id %>">Show details</a>
        </td>
      </tr>
      <% end %>

    </table>
  </div>
</div>

<hr>
