<dl>
  <dt>Vegetables</dt>
  <dd><%= @vegetables %></dd>

  <dt>Legumes</dt>
  <dd><%= @legumes %></dd>

  <dt>Fish</dt>
  <dd><%= @fish %></dd>

  <dt>Eggs </dt>
  <dd><%= @eggs %></dd>
  
  <dt>White meat </dt>
  <dd><%= @white_meat %></dd>

  <dt>Red meat </dt>
  <dd><%= @red_meat %></dd>

  <dt>Whole grains </dt>
  <dd><%= @whole_grains %></dd>

  <dt>Notes</dt>
  <dd><%= simple_format(@notes) %></dd>
</dl>

<div>
  <div>
    <h1>
      List of all dishes
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new dish
    </h2>

    <form action="/insert_dish" method="post">
      <div>
        <label for="name_box">
          Name
        </label>
        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="creator_id_box">
          Creator
        </label>
        <input type="hidden" name="query_creator_id" value="<%= current_user.id %>">
      </div>

      <button>
        Create dish
      </button>
    </form>
  </div>
</div>

<hr>
<%= search_form_for @q do |f| %>
  <h2>Narrow results:</h2>
  <div>
    <%= f.label :name_cont, "Dish containing" %>
    <%= f.text_field :name_cont, :placeholder => "...dish name contains " %>
  </div>

  <div>
  <% FoodGroup.all.each do |fg| %>
    <label>
      <%= check_box_tag('q[food_groups_id_eq_any][]', fg.id, (true if @q.dish_food_groups_id_eq_any.try(:include?, fg.id))) %>
      <%= fg.name %>
    </label>
  <% end %>
</div>

  <%= f.submit :class => "btn btn-primary btn-block" %>
  
  <a href="/dishes">Clear filters</a>
<% end %>
<hr>

<div>
  <div>
    <table border="1">
      <tr>
        <th>Name</th>
<!--        <th>Creator</th>
        <th>Created at</th>
        <th>Updated at</th>-->
        <% food_group_counts = @list_of_dishes.map { |dish| dish.dish_food_groups.count } %>
        <% if food_group_counts.any? %>
          <% max_food_groups = food_group_counts.max %>
        <% else %>
          <% max_food_groups = 0 %>
        <% end %>

        <% max_food_groups.times do |i| %>
        <th>Food group <%= i + 1 %></th>
        <% end %>
        <th></th>
      </tr>

      <% @list_of_dishes.each do |a_dish| %>
        <tr>
          <td><%= a_dish.name %></td>
<!--          <td><%#= a_dish.creator.email %></td>
          <td><%#= time_ago_in_words(a_dish.created_at) %> ago</td>
          <td><%#= time_ago_in_words(a_dish.updated_at) %> ago</td>-->
          
        <% food_groups = a_dish.dish_food_groups.includes(:food_group) %>
        <% max_food_groups.times do |i| %>
          <% if food_groups[i] %>
            <td><%= food_groups[i].food_group.name %></td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>


          <td>
            <a href="/dishes/<%= a_dish.id %>">
              Show details
            </a>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
